/* CSS Document */
@media (min-width: 1900px){
    .col-blg-3{
        width: 25%;
    }
 	.store-container{
		max-width: 1575px;
	}
}

@media (min-width: 1401px) and (max-width: 1899px){
 	.store-container{
		max-width: 1300px;
	}

	.panel-header {
		.content-site{
			width: auto;
		}
		.header-menu{
			ul{
				justify-content: center;
				li{
					padding: 0 12px;
					a{
						font-size: 14px;
						&:after{
							content: '';
						}
					}
				}
			}
		}
		.header-contact{
			flex-wrap: wrap;
			justify-content: center;
			.phone-block{
				// margin-top: 15px;
			}
		}
	}

	.catalog-menu{
		ul{
			li{
				border-bottom: none;
				ul{
					li{
						&:first-child{
							border-top: none;
						}
					}
				}
			}
		}
	}

}


@media (min-width: 1156px) and (max-width: 1400px){
	.panel-header {
		.content-site{
            width: 100%;
		}
		.header-menu{
			ul{
				justify-content: center;
				li{
					padding: 0 12px;
					a{
						font-size: 14px;
						&:after{
							content: '';
						}
					}
				}
			}
		}
		.header-contact{
			flex-wrap: wrap;
			justify-content: center;
            margin-top: 10px;
            position: relative;
            right: -15px;
			.phone-block{
				margin-top: 15px;
			}
		}
	}
    
    .footer{
        .header-contact{
            min-width: 250px; 
        }
    }
}
@media (min-width: 769px){
    .mobile-panel{
        display: none;
    }
}

@media (max-width: 1455px){
    .content-site{
        width: 100%;
    }
}

@media (max-width: 1200px){
    .content-site{
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1240px){

}

@media (min-width: 768px) and (max-width: 1024px){
	.content-site{
        
    }
    .panel-header{
        padding: 20px 15px;
        .logo{
            img{
                height: 40px;
                // width: 80%;
            }
        }
        .header-menu{
            ul{
                li{
                    padding: 0 10px;
                    a{
                        font-size: 14px; 
                        &:after{
                            content: '';
                        }
                    }
                }
            }
        }
        .header-contact{
            width: 70px;
            a{
                margin-right: 0;
            }
            .search-block  {
                display: none;
            }
            .callback-block{
                display: none;
            }
            .phone-block{
                display: none;
            }
            .shopcart-block{
                .number{
                    display: none;
                }
            }
        }
    }
    #cart-widget{
        .count-product-cart{
            right: -10px;
        }
    }

    .hp-container{
        .slider{
            .dots-slider{
                width: 50%;
            }
        }
    }

    .banner {
        padding: 0 15px;
    }

    .catalog-menu{
        ul{
            li{
                a{
                    font-size: 16px;
                    padding: 6px 0;
                }
                ul{
                    li{
                        a{
                            font-size: 15px;
                            padding: 6px 0 4px 5px;
                        }
                    }
                }
            }
        }
    }

    .footer{
        .policy-block{
            display: none;
        }
    }

    /* Каталог */
    .store-container{
        .right-panel-store{
            .list-category-products{
                .panel-filters{
                    form{
                        .left-panel-filter{
                            .filter-block-checkbox-list{
                                .filter-block-header{
                                    margin-right: 10px;
                                    label{
                                        a{
                                            padding: 10px 50px 10px 15px;
                                        }
                                    }
                                }
                                .filter-block-body{
                                    width: 93%;
                                }
                            }
                        }
                    }
                    .btn-filter{
                        padding: 10px 15px;
                    }
                    .right-panel-filter{
                        .btn-clear{
                            padding: 10px 30px 10px 10px;
                        }
                    }
                }
                .product-item-block{
                    .item-product{
                        margin: 10px 0;
                        .product-info-block{
                            overflow: visible;
                        }
                        .product-price-more{
                            .product-price{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Карточка */
    .product-container{
        width: 100%;
        .product-panel{
            .product-data{
                .product-options{
                    .variants{
                        .variant-item{
                            .variant-item__list{
                                justify-content: flex-start;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
            .product-images{
                .thumbnails{
                    .image-main{
                        .button-video{
                            left: -120px;
                        }
                    }
                }
            }
        }
    }

    /* Корзина */
    .store-container{
        .order-form{
            margin-top: 20px;
            .left-panel-shopcart{
                width: 100%;
            }
        }
    }

    /* page-txt */
    .page-txt{
        padding: 20px 15px;
        .table-condensed{
            margin: 30px 0;
        }
        img{
            display: flex;
            margin: 0 auto;
        }
        iframe{
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
        .attention{
            width: 100%;
        }
    }

}

@media (max-width: 767px){
    html {
        overflow-x: hidden;
    }
    body{
        padding-top: 80px;
        transition: transform 800ms cubic-bezier(0.68, 1, 0.2, 1);
    }
    
    .panel-header-top{
        position: fixed;
        top: 0px; left: 0px;
        width: 100%;
        z-index: 250;
    }

    .mobile-panel{
        .m-menu-button{
            position: fixed;
            top: 10px; left: 15px;
            z-index: 255;
            background: transparent;
            width: 50px;
            height: 40px;
            overflow: hidden;
            cursor: pointer;
            @include transform-mobile-link;
            .line{
                display: block;
                width: 80%;
                height: 2px;
                background: $color-white;
                margin: 8px auto;
            }
        }
        .mobile-menu{
            position: absolute;
            top: 0; left: 0;
            bottom: 0;
            width: 90%;
            width: 85%;
            height: 100vh;
            overflow: hidden;
            padding-left: 0;
            transition-delay: .1s;
            background-color: $color-black;
            z-index: 254;
            @include transform-mobile-menu;
            @include transition-line;
            .dropbtn{
                display: none;
            }
            .m-menu-buttons{
                position: fixed;
                top: 10px; right: 0px;
                z-index: 255;
                background: transparent;
                width: 50px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                @include transform-mobile-link;
                .line{
                    display: block;
                    width: 80%;
                    height: 2px;
                    background: $color-white;
                    margin: 8px auto;
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
            .close{
                left: 65%;
                opacity: 1;
                @include transform-mobile-link;
                .line{
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
        }
        &.active-menu{
            .mobile-menu{
                transform: translateX(0%);
            }
            .m-menu-button{
                opacity: 0;
            }
            .close{
                opacity: 1;
            }
        }
        .mobile-content{
            padding: 30px 25px; padding-right: 0px;
            width: 90%;
            .catalog-menu-mobile {
                ul{
                    li{
                        margin: 15px 0px;
                        a{
                            color: $color-white;
                            text-transform: uppercase;
                            @include fontF($als-bold, 16px, 800, $color-white);
                            &:hover{
                                color: $color-pink;
                            }
                        }

                        ul{
                            display: none;
                            padding-left: 30px !important;
                            li{
                                margin: 7px 0;
                                a{
                                    font-size: 14px;
                                }
                                ul{
                                    padding-left: 35px !important;
                                    li{
                                        a{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        &.active{
                            ul{
                                display: block;
                                @include delay;
                            }
                        }
                    }
                }
            }
            ul{
                li{
                    margin: 10px 0px;
                    &:hover{
                        color: $color-pink;
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        @include fontF($als-bold, 16px, 800, $color-variant);
                        @include translate-mobile-link;
                        @include transition-line;
                    }      
                }
            }
            
            .social-flex{
                display: flex;
                justify-content: flex-start;
                margin: 10px 0;
                a{
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-right: 15px;
                    padding-top: 7px;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 50px;
                    background: $color-searchgray;
                    color: $color-white;
                    &:hover{
                        background: $color-pink;
                    }
                }
            }
        }
    }
    
    .panel-header{
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        .logo{
            img{
               height: 30px;
               padding-left: 30px;
            }
        }
    }
    
    #cart-widget{
        .count-product-cart{
            top: -10px;
            width: 20px; height: 20px;
            background: $color-pink;
            @include fontF($als-bold, 10px, 600, $color-white);
        }
    }
    
    .product-container{
        width: 100%;
    }
    
    .hp-container{
        .slider{
            width: 100%;
        }
    }
    
    .banner{
        padding: 15px; margin: 15px auto;
    }
    
    .footer{
        padding: 15px;
        display: block;
        .header-menu{
            ul{
                display: block;
                li{
                    padding: 5px 0px;
                    a{
                        @include fontF($als-bold, 12px, 800, $color-white);
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
        .policy-block{
            margin: 15px auto;
        }
    }

    /* page-txt */
    .page-txt{
        // padding: 20px 15px;
        .table-condensed{
            margin: 30px 0;
        }
        img{
            display: flex;
            margin: 0 auto;
        }
        iframe{
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait){
    .mobile-panel{
        .mobile-menu{
            overflow-y: auto; 
        }
    }

    /* каталог */
    .list-view .sorter{
        text-align: center;
    }
    .store-container{
        .left-panel-store{
            display: none;
        }
        .right-panel-store{
            padding: 0 25px; 
            width: 100%;
            h1{
                text-align: center;
            }
            .list-category-products{
                .panel-filters{
                    form{
                        flex-direction: column;
                        .left-panel-filter{
                            flex-direction: column;
                            justify-content: space-between;
                            .filter-block-checkbox-list{
                                margin-bottom: 10px;
                                .filter-block-header{
                                    margin-right: 0;
                                    margin-bottom: 15px;
                                }
                                .filter-block-body{
                                    width: 100%;

                                }
                            }
                            .filter-attributes{
                                flex-direction: column;
                            }
                        }
                    }
                    .btn-filter{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    /* Карточка */
    .product-panel{
        .product-images{
            .left-thumb{
                .video-link{
                    a{
                        &:before{
                            width: 20px;
                            height: 20px;
                            padding-top: 3px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .image-main{
                .button-video{
                    left: -152px;
                    top: 33px;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
        .product-data{
            .product-title{
                font-size: 22px;
                padding-top: 15px;
            }
            .product-options{
                .variants{
                    .variant-item{
                        .variant-item__list{
                            flex-wrap: wrap;
                            justify-content: flex-start;
                        }
                    }
                }
            }
            .product-block-prices-shopcart{
                flex-direction: column;
            }
        }
    }


    /* Корзина */
    .product-container{
        padding: 5px 15px;
    }
    .store-container{
        .order-form{
            margin-top: 20px;
            .left-panel-shopcart{
                width: 100%;
                .header-shopcart{
                    .cart-image{
                        flex: 1 1 30%;
                    }
                    .cart-title{
                        flex: 1 1 60%;
                    }
                }
                .body-shopcart{
                    .shopcart-line-item{
                        align-items: flex-start;
                        .cart-image{
                            flex: 1 1 30%;
                        }
                        .cart-title{
                            flex: 1 1 60%;
                            label{
                                display: block;
                                span{
                                    display: inline-block;
                                }
                            }
                            a{
                                font-size: 13px;
                            }
                        }
                        .col-flex{
                            width: 21%;
                        }
                    }
                    .footer-shopcart{
                        margin: 15px 0;
                        font-size: 17px;
                    }
                }
            }
            .right-panel-shopcart{
                flex-direction: column;
                padding-bottom: 0;
                margin-bottom: 0;
                .panel-shopcart-delivery{
                    width: 100%;
                    margin: 15px 0;
                }
                .panel-order{
                    width: 100%;
                    .btn-order{
                        width: 100%;
                    }
                    .js-post-rf{
                        .list-prices{
                            width: 100%;
                            .flex-tariff{
                                p{
                                    &:first-child{
                                        flex: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-order{
                margin-bottom: 30px;
            }
        }
    }
    .page-txt{
        h2{
            padding: 30px 0;
        }
        .attention{
            width: 100%;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape){
    .mobile-panel{
        .mobile-menu{
            overflow: auto;
        }
    }

     /* каталог */
    .list-view .sorter{
        text-align: center;
    }
    .store-container{
        .left-panel-store{
            display: none;
        }
        .right-panel-store{
            padding-top: 0;
            width: 100%;
            h1{
                text-align: center;
            }
            .list-category-products{
                .panel-filters{
                    form{
                        flex-direction: column;
                        .left-panel-filter{
                            flex-direction: column;
                            justify-content: space-between;
                            .filter-block-checkbox-list{
                                margin-bottom: 10px;
                                .filter-block-header{
                                    margin-right: 0;
                                    margin-bottom: 15px;
                                }
                                .filter-block-body{
                                    width: 100%;
                                }
                            }
                            .filter-attributes{
                                flex-direction: column;
                            }
                        }
                    }
                    .btn-filter{
                        margin-bottom: 5px;
                    }
                }
                .product-item-block{
                    .item-product{
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    /* Карточка */
    .product-panel{
        .product-data{
            .product-title{
                padding-top: 20px;
            }
        }
        .product-data{
            .product-options{
                .variants{
                    .variant-item{
                        .variant-item__list{
                            justify-content: flex-start;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }


    /* Корзина */
    .product-container{
        padding: 5px 15px;
    }
    .store-container{
        .order-form{
            margin-top: 20px;
            .left-panel-shopcart{
                width: 100%;
                .header-shopcart{
                    .cart-image{
                        flex: 1 1 30%;
                    }
                    .cart-title{
                        flex: 1 1 60%;
                    }
                }
                .body-shopcart{
                    .shopcart-line-item{
                        align-items: flex-start;
                        .cart-image{
                            flex: 1 1 30%;
                        }
                        .cart-title{
                            flex: 1 1 60%;
                            label{
                                display: block;
                                span{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .footer-shopcart{
                        margin: 15px 0;
                    }
                }
            }
            .right-panel-shopcart{
                flex-direction: column;
                padding-bottom: 0;
                margin-bottom: 0;
                .panel-shopcart-delivery{
                    width: 100%;
                    margin: 15px 0;
                }
                .panel-order{
                    width: 100%;
                    .js-post-rf{
                        .list-prices{
                            width: 100%;
                            .flex-tariff{
                                p{
                                    &:first-child{
                                        flex: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-order{
                margin-bottom: 30px;
            }
        }
    }

    .page-txt{
        .attention{
            width: 100%;
        }
    }
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: portrait){
    html {
        overflow-x: hidden;
    }
    body{
        padding-top: 85px;
        transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .panel-header-top{
        position: fixed;
        top: 0px; left: 0px;
        width: 100%;
        z-index: 250;
    }

    .mobile-panel{
        .m-menu-button{
            position: fixed;
            top: 22px; left: 15px;
            z-index: 255;
            background: transparent;
            width: 50px;
            height: 40px;
            overflow: hidden;
            cursor: pointer;
            @include transform-mobile-link;
            .line{
                display: block;
                width: 80%;
                height: 2px;
                background: $color-white;
                margin: 8px auto;
            }
        }
        .mobile-menu{
            position: absolute;
            top: 0; left: 0;
            bottom: 0;
            width: 80%;
            height: 100vh;
            overflow: hidden;
            padding-left: 0;
            transition-delay: .1s;
            background-color: $color-black;
            z-index: 254;
            @include transform-mobile-menu;
            @include transition-line;
            .dropbtn{
                display: none;
            }
            .m-menu-buttons{
                position: fixed;
                top: 22px; right: 15px;
                z-index: 255;
                background: transparent;
                width: 50px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                @include transform-mobile-link;
                .line{
                    display: block;
                    width: 80%;
                    height: 2px;
                    background: $color-white;
                    margin: 8px auto;
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
            .close{
                left: 65%;
                opacity: 1;
                @include transform-mobile-link;
                .line{
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
        }
        &.active-menu{
            .mobile-menu{
                transform: translateX(0%);
            }
            .m-menu-button{
                opacity: 0;
            }
            .close{
                opacity: 1;
            }
        }
        .mobile-content{
            padding: 30px 25px; padding-right: 0px;
            width: 80%;
            ul{
                li{
                    margin: 15px 0px;
                    &:hover{
                        background-color: $color-pink;
                    }
                    a{
                        color: $color-white;
                        text-decoration: none;
                        display: block;
                        @include fontF($als-bold, 18px, 800, $color-white);
                        @include translate-mobile-link;
                        @include transition-line;
                    }      
                }
            }
            .catalog-menu-mobile{
                ul{
                    li{
                        ul{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .panel-header{
        .logo{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .header-menu{
            display: none;
        }
        .header-contact{
            position: relative;
            right: -15px;
            width: 20%;
            .phone-block{
                display: none;
            }
            .top-phone{
                display: block !important;
                padding-right: 15px;
            }
            .foot-phone{
                display: none;
            }
        }
    }

    .hp-container{
        .slider{
            .dots-slider{
                width: 50%;
            }
        }
    }

    .banner {
        padding: 0 15px;
    }


    .catalog-menu{
        ul{
            li{
                a{
                    font-size: 14px;
                    padding: 6px 0;
                }
                ul{
                    li{
                        a{
                            font-size: 13px;
                            padding: 6px 0 4px 5px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        padding: 15px;
        display: block;
        .logo{
            img{
                height: 40px;
            }
        }
        .header-menu{
            ul{
                display: block;
                li{
                    padding: 5px 0px;
                    a{
                        @include fontF($als-bold, 12px, 800, $color-white);
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
        .policy-block{
            margin: 15px auto;
        }
    }

    /* Каталог */
    .store-container{
        .right-panel-store{
            .list-category-products{
                .panel-filters{
                    form{
                        align-items: flex-end;
                        .left-panel-filter{
                            flex-direction: column;
                            justify-content: space-between;
                            .filter-block-checkbox-list{
                                margin-bottom: 10px;
                                .filter-block-header{
                                    margin-right: 0;
                                    margin-bottom: 15px;
                                }
                                .filter-block-body{
                                    width: 100%;
                                }
                            }
                            .filter-attributes{
                                flex-direction: column;
                            }
                        }
                    }
                    .btn-filter{
                        margin-bottom: 5px;
                    }
                    .right-panel-filter{
                        .btn-clear{
                            margin-bottom: 5px;
                        }
                    }
                }
                .product-item-block{
                    .item-product{
                        margin: 10px 0;
                        .product-info-block{
                            overflow: visible;
                        }
                        .product-price-more{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    /* Карточка */
    .product-container{
        width: 100%;
        .product-panel{
            .product-data{
                .product-options{
                    .variants{
                        .variant-item{
                            .variant-item__list{
                                justify-content: flex-start;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
            .product-images{
                .thumbnails{
                    .image-main{
                        .button-video{
                            left: -70px;
                        }
                    }
                }
            }
        }
    }

    /* Корзина */
    .store-container{
        .order-form{
            margin-top: 20px;
            .left-panel-shopcart{
                width: 100%;
            }
        }
    }

    /* page-txt */
    .page-txt{
        padding: 20px 15px;
        .table-condensed{
            margin: 30px 0;
        }
        img{
            display: flex;
            margin: 0 auto;
        }
        iframe{
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
        .attention{
            width: 100%;
        }
    }
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: landscape){
    .content-site{
        
    }
    .panel-header{
        padding: 20px 15px;
        .logo{
            img{
                width: 80%;
            }
        }
        .header-menu{
            ul{
                li{
                    padding: 0 10px;
                    a{
                        font-size: 14px; 
                        &:after{
                            content: '';
                        }
                    }
                }
            }
        }
        .header-contact{
            width: 70px;
            a{
                margin-right: 0;
            }
            .search-block  {
                display: none;
            }
            .callback-block{
                display: none;
            }
            .phone-block{
                display: none;
            }
            .shopcart-block{
                .number{
                    display: none;
                }
            }
        }
    }
    #cart-widget{
        .count-product-cart{
            right: -10px;
        }
    }

    .hp-container{
        .slider{
            .dots-slider{
                width: 50%;
            }
        }
    }

    .banner {
        padding: 0 15px;
    }

    .catalog-menu{
        ul{
            li{
                a{
                    font-size: 16px;
                    padding: 6px 0;
                }
                ul{
                    li{
                        a{
                            font-size: 15px;
                            padding: 6px 0 4px 5px;
                        }
                    }
                }
            }
        }
    }

    .footer{
        .policy-block{
            display: none;
        }
    }

    /* Каталог */
    .store-container{
        .right-panel-store{
            .list-category-products{
                .panel-filters{
                    form{
                        .left-panel-filter{
                            .filter-block-checkbox-list{
                                .filter-block-header{
                                    margin-right: 10px;
                                    label{
                                        a{
                                            padding: 10px 50px 10px 15px;
                                        }
                                    }
                                }
                                .filter-block-body{
                                    width: 93%;
                                }
                            }
                        }
                    }
                    .btn-filter{
                        padding: 10px 15px;
                    }
                    .right-panel-filter{
                        .btn-clear{
                            padding: 10px 30px 10px 10px;
                        }
                    }
                }
                .product-item-block{
                    .item-product{
                        margin: 10px 0;
                        .product-info-block{
                            overflow: visible;
                        }
                        .product-price-more{
                            .product-price{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Карточка */
    .product-container{
        width: 100%;
        .product-panel{
            .product-data{
                .product-options{
                    .variants{
                        .variant-item{
                            .variant-item__list{
                                justify-content: flex-start;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
            .product-images{
                .thumbnails{
                    .image-main{
                        .button-video{
                            left: -120px;
                        }
                    }
                }
            }
        }
    }

    /* Корзина */
    .store-container{
        .order-form{
            margin-top: 20px;
            .left-panel-shopcart{
                width: 100%;
            }
        }
    }

    /* page-txt */
    .page-txt{
        padding: 20px 15px;
        .table-condensed{
            margin: 30px 0;
        }
        img{
            display: flex;
            margin: 0 auto;
        }
        iframe{
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
        .attention{
            width: 100%;
        }
    }
}
