*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{
	outline: none;
}
.btn{
	display: inline-block;
	border: none;
	text-align: center;
	&:focus, &:active{
		outline: none !important;
		color: $color-white;
	}
}

.btn-pink{
	position: relative;
	border-radius: 10px;
	background-color: $color-pink;
	@include fontF($als-bold, 16px, 800, $color-white);
	@include delay;
	&:hover{
		background-color: $color-darkpink;
		color: $color-white;
		@include delay;
	}
	&:before{
		content: '\e90e';
		position: absolute;
		top: 50%;
		left: 13px;
		transform: translateY(-50%);
		display: inline-block;
		@include fontF($icomoon, 20px, 800, $color-white);
	}
}


.breadcrumbs{
	margin-bottom: 20px;
	.breadcrumb{
		background: none;
	}
    li{
        @include fontF($gilroy, 14px, 800, $color-breadcrumbs);
        a{
            @include fontF($gilroy, 14px, 800, $color-breadcrumbs);
            &:hover{
                color: $color-gray;
            }
        }
    }
}

/* ........... */
.panel-header{
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-black;
	.header-menu{
		flex: 1 1 auto;
		ul{
			display: flex;
			justify-content: space-around;
			li{
				padding: 0 30px;
				position: relative;
				a{
                    text-transform: uppercase;
					text-decoration: none;
					@include fontF($als-bold, 18px, 800, $color-white);
                    &:hover, &:focus{
                        color: $color-pink;
                    }
					&:after{
					    content: '|';
					    left: 100%;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    color: $color-gray;
					}
				}
                &:last-child{
                    a{
                        &:after{
                            display: none;
                        }
                    }
                }
			}
		}
	}

	.header-contact{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		a{
			padding: 10px;
			margin-right: 15px;
			border-radius: 50px;
			@include fontF($icomoon, 18px, normal, $color-white);
		}
		.search-block{
			a{
				background-color: $color-searchgray;
			}
		}
		.shopcart-block{
			a{
				&:first-child{
					background-color: $color-blue;
				}
			}
			.number{
				@include fontF($als, 18px, 400, $color-white);
			}
		}
		.top-phone{
			a{
				margin-right: 0;
				margin-left: 15px;
				background-color: $color-pink !important;
			}
		}
		.callback-block{
			a{
				&:first-child{
					background-color: $color-blue;
				}
                &.whatsapp{
                    background-color: $color-whatsapp;
                }
			}
			.email{
				background-color: none !important;
				text-decoration: underline;
				@include fontF($als-bold, 18px, 500, $color-white);
			}
		}
		.phone-block{
			.number{
				@include fontF($als, 18px, 400, $color-white);
			}
		}
        .foot-phone{
            a.whatsapp{
                background-color: $color-whatsapp;
            }
        }
	}
}

/* Боковое меню */
.catalog-menu{
	width: 20%;
	padding: 20px 20px 0;
	position: relative;
	background-color: $color-lightgray;
	box-shadow: 20px 0px 50px 0px rgba(0, 0, 0, 0.05);
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		li{
			width: 100%;
			border-bottom: 1px solid $color-bordergray;
			a{
				display: block;
				padding: 8px 0;
				// text-align: center;
				text-transform: uppercase;
				@include fontF($beermoney, 21px, 500, $color-black);
				&:hover{
					color: $color-pink;
				}
			}
			ul{
				display: none;
				@include delay;
				li{
					border-bottom: none;
					&:first-child{
						border-top: 1px solid $color-bordergray;
					}
					a{
						padding: 2px 0 2px 25px;
						text-align: left;
						text-transform: uppercase;
						// @include fontF($gilroy, 16px, 500, $color-black);
						@include fontF($beermoney, 18px, 500, $color-black);
					}
					&:first-child{
						padding-top: 8px;
					}
					&:last-child{
						padding-bottom: 8px;
					}
					ul{
						display: none;
						@include delay;
						li{
							a{
								padding-left: 50px;
								font-size: 15px;
							}
						}
					}
					&:hover{
						ul{
							display: block;
							@include delay;
						}
					}
				}
			}
/*			&:hover{
				ul{
					display: block;
					@include delay;
				}
			}*/
			&.active{
				ul{
					display: block;
					@include delay;
				}
			}
			&:last-child{
				border-bottom: 1px solid transparent;
			}
		}
	}

}

.social-flex{
	display: flex;
	margin: 10px 0;
	a{
		width: 30px;
	    height: 30px;
	    display: block;
	    margin-right: 15px;
	    padding-top: 7px;
	    text-align: center;
	    font-size: 14px;
	    border-radius: 50px;
	    background: $color-searchgray;
	    color: $color-white;
	    &:hover{
	    	background: $color-pink;
	    }
	}
}

/* -- */
.hp-container{
	display: flex;
	justify-content: space-between;
	.slider{
		width: 80%;
		box-shadow: 20px 0px 50px 0px rgba(0, 0, 0, 0.05);
		.dots-slider{
			display: flex;
			justify-content: center;
			position: absolute;
		    left: 50%;
		    bottom: 35px;
		    transform: translateX(-50%);
		    width: 50%;
		    li{
		    	margin-right: 10px;
		    	height: 18px;
		    	width: 18px;
		    	button{
		    		background-color: $color-blue;
				    border-radius: 50%;
				    outline: none;
				    line-height: 0px;
				    font-size: 0px;
				    width: 8px;
				    height: 8px;
				    border: none;
				    padding: 0;
				    margin: 4px;
				    position: relative;
				    bottom: 5px;
		    	}
		    }
		    .slick-active{
		    	display: inline-block;
		    	border-radius: 50px;
		    	border: 1px solid $color-pink;
		    	button{
			    	background-color: $color-pink;
			    }
		    }
		}
	}
}


.banner{
	display: flex;
    justify-content: center;
    margin-top: 40px;
    img{
    	border-radius: 10px;
    	box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.13);
    }
}
.banner-bottom{
	margin-bottom: 40px;
}

.slick-dotted.slick-slider{
	margin-bottom: 0 !important;
}

/* Футер */
.footer{
	.header-menu{
		ul{
			justify-content: center;
		}
	}
	.policy-block{
		text-align: center;
		margin-top: 20px;
		line-height: 1.4;
		@include fontF($gilroy, 14px, 300, $color-gray);
		a{
			color: $color-white;
			text-decoration: underline;
		}
	}
	.header-contact{
		a{
			padding: 10px 11px;
		}
		flex-direction: column;
		.shopcart-block{
			display: flex;
			align-items: baseline;
			margin-bottom: 5px;
		}
		.callback-block{
			display: flex;
			align-items: baseline;
		}
	}
    .copyright{
        label{
            @include fontF($gilroy, 14px, 300, $color-white);
        }
    }
}




/* page-txt */
.page-txt{
	padding: 50px 0; padding-top: 20px;
	@include fontF($gilroy-regular, 16px, 400, $color-black);
	h1{
		@include fontF($gilroy-black, 30px, 900, $color-black);
		padding: 0 0 30px;
	}
	h2{
		@include fontF($gilroy-bold, 20px, 800, $color-black);
		padding: 50px 0 30px;
	}
	.first-h2{
		padding: 0 0 30px;
	}

	p{
		font-size: 16px;
		padding: 10px 0;
		line-height: 1.4;
	}
	label{
		margin: 0;
		@include fontF($gilroy-bold, 16px, 800, $color-black);
	}
	img{
		box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.13);
		margin-bottom: 15px;
	}
	ul{
		margin-left: 15px !important;
		// margin: 15px 15px 25px !important;
		li{
			font-size: 16px;
			line-height: 1.2;
			a{
				color: $color-black;
				border-bottom: 1px solid $color-black;
				&:hover{
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
	ol{
		margin-left: 15px;
		list-style-type: decimal !important;
		li{
			font-size: 16px;
			line-height: 1.2;
		}
	}
	.attention{
		margin: 25px 0;
		padding: 10px 20px;
		width: 70%;
	    border: 3px dashed #166db0;
	    border-radius: 10px;
	    line-height: 1.4;
	}
	.table-condensed{
		margin: 20px 0;

	}
	.border-text{
		border-bottom: 1px solid $color-black;
	}
	.red{
		color: $color-red;
	}
	.hight-text{
		height: 58px;
	}
	.social-flex{
		display: flex;
		margin: 10px 0;
		a{
			width: 30px;
		    height: 30px;
		    display: block;
		    margin-right: 15px;
		    padding-top: 7px;
		    text-align: center;
		    font-size: 14px;
		    border-radius: 50px;
		    background: $color-searchgray;
		    color: $color-white;
		    &:hover{
		    	background: $color-soc;
		    }
		}
	}
}

.page-site{
    min-height: 750px;
}

label.tick-label {
	display: inline-block;
	margin: 0 calc(#{$checkbox-size} * 0.25);
	width: $checkbox-size;
	height: $checkbox-size;
	border: calc(15px * 0.125) solid #626262;
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;
}
input.checkbox-set {
	display: none;
	&:checked {
		&+label {
			.tick {
				opacity: 1;
				-webkit-transform: rotate(45deg) scale(1);
				-ms-transform: rotate(45deg) scale(1);
				transform: rotate(45deg) scale(1);
			}
		}
	}
	&:focus {
		&+label {
			-webkit-animation-duration: 400ms;
			animation-duration: 400ms;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
	}
}

.tick {
	position: relative;
	right: calc(20px * -0.5);
	top: calc(20px * -0.25);
	width: calc(50px * 0.25);
	height: calc(30px * 0.75);
	border-right: calc(25px * 0.25) solid $tick-color;
	border-bottom: calc(25px * 0.25) solid $tick-color;
	-webkit-transform: rotate(45deg) scale(0);
	-ms-transform: rotate(45deg) scale(0);
	transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.search-panel{
    .search-group{

    }
}

#html5box-html5-lightbox #html5-watermark{
	display: none !important;

}
