$gilroy: 'Gilroy-Light_0';
$gilroy-bold: 'Gilroy-Bold_0';
$gilroy-regular: 'Gilroy-Regular_0';
$gilroy-black: 'Gilroy-Black_0';
$futura-book: 'FuturaBookC';
$als-black: 'ALSSchlangesans-Black';
$als-bold: 'ALS_schlange_sans_bld';
$als: 'ALS_schlange_sans_blk';
$beermoney: 'beer_money';
$lamor: 'lamor';
$icomoon: 'icomoon';


@font-face {
    font-family: $gilroy;
    src: url('../fonts/Gilroy-Light_0.otf');
    src: local('Gilroy-Light_0'), local('Gilroy-Light_0'),
        url('../fonts/Gilroy-Light_0.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $gilroy-bold;
    src: url('../fonts/Gilroy-Bold_0.otf');
    src: local('Gilroy-Bold_0'), local('Gilroy-Bold_0'),
        url('../fonts/Gilroy-Bold_0.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: $gilroy-regular;
    src: url('../fonts/Regular_0.otf');
    src: local('Gilroy-Regular_0'), local('Gilroy-Regular_0'),
        url('../fonts/Gilroy-Regular_0.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $gilroy-black;
    src: url('../fonts/Black_0.otf');
    src: local('Gilroy-Black_0'), local('Gilroy-Black_0'),
        url('../fonts/Gilroy-Black_0.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $futura-book;
    src: url('../fonts/FuturaBookC.otf');
    src: local('FuturaBookC'), local('FuturaBookC'),
        url('../fonts/FuturaBookC.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $als-black;
    src: url('../fonts/ALSSchlangesans-Black.otf');
    src: local('ALS_schlange_sans_bld'), local('ALS_schlange_sans_bld'),
        url('../fonts/ALSSchlangesans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: $als-bold;
    src: url('../fonts/ALS_schlange_sans_bld.otf');
    src: local('ALS_schlange_sans_bld'), local('ALS_schlange_sans_bld'),
        url('../fonts/ALS_schlange_sans_bld.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: $als;
    src: url('../fonts/ALS_schlange_sans_blk.otf');
    src: local('ALS_schlange_sans_blk'), local('ALS_schlange_sans_blk'),
        url('../fonts/ALS_schlange_sans_blk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $beermoney;
    src: url('../fonts/beer_money.ttf');
    src: local('beer_money'), local('beer_money'),
        url('../fonts/beer_money.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $lamor;
    src: url('../fonts/lamor.otf');
    src: local('lamor'), local('lamor'),
        url('../fonts/lamor.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: $icomoon;
  src:  url('../fonts/icomoon.eot?na6e8g');
  src:  url('../fonts/icomoon.eot?na6e8g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?na6e8g') format('truetype'),
    url('../fonts/icomoon.woff?na6e8g') format('woff'),
    url('../fonts/icomoon.svg?na6e8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}