@mixin delay{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin font($size, $weight, $color){
	font-size: $size; font-weight: $weight;  color: $color;
}

@mixin fontFS($font, $size){
	font-family: $font; font-size: $size;
}

@mixin fontF($font, $size, $weight, $color){
	font-family: $font; font-size: $size; font-weight: $weight;  color: $color;
}

@mixin border($style, $width, $color){
	border-style: $style; border-width: $width; border-color: $color;
}

@mixin borderR($style, $width, $color, $radius){
	border-style: $style; border-width: $width; border-color: $color; border-radius: $radius;
}

@mixin flex-middle{
	display: flex;
	flex-direction: row;
	align-items: center;
}

@mixin flex-middle-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin vertical-middle-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin align-center-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin vertical-middle-pos{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin align-center-pos{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin gradient-button-red{
	background-image: -moz-linear-gradient( 0deg, rgb(238,56,47) 0%, rgb(208,33,24) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(238,56,47) 0%, rgb(208,33,24) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(238,56,47) 0%, rgb(208,33,24) 100%);
	box-shadow: 0px 15px 20px 0px rgba(238, 56, 47, 0.2);

}
@mixin gradient-button-red-not{
	background-image: none;
	background-image: none;
	background-image: none;
	box-shadow: 0px 15px 20px 0px rgba(238, 56, 47, 0.2);

}
@mixin gradient-button-blue{
	background-image: -moz-linear-gradient( 0deg, rgb(40,84,145) 0%, rgb(20,60,115) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(40,84,145) 0%, rgb(20,60,115) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(40,84,145) 0%, rgb(20,60,115) 100%);
	
}

@mixin transition-line{
	//transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
	transition: all 900ms cubic-bezier(0.68, 1, 0.2, 1); 
}

@mixin rotate-first-line{
	transform: rotate(45deg) translateY(15px);
}

@mixin rotate-last-line{
	transform: rotate(-45deg) translateY(-15px);
}

@mixin rotate-two-line{
	transform: translateX(-100px);
}

@mixin transform-mobile-menu{
	transform: translateX(-100%);
}

@mixin translate-mobile-link{
	transform: translateX(0px);
}

@mixin transform-mobile-link{
	//transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 900ms cubic-bezier(0.68, 1, 0.2, 1); 
}

%icon-round{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    @include align-center-flex;
}

