$background_color_1: #e0e0e0;
$background_color_2: #c2c2c2;
$background_color_3: #919191;
$background_color_4: #ffffff;
$background_color_5: #eeeeee;
$background_color_6: #d9d9d9;
$background_color_7: #6C6E71;
$background_color_8: #999;
$background_color_9: rgba(0, 0, 0, 0.3);
$background_color_10: #666;
$background_color_11: rgba(0, 0, 0, 0.5);
$background_color_12: #d0b9a0;
$background_color_13: #cccccc;
$background_color_14: #6c6e71;
$border_color_1: #a9a9a9;
$border_color_2: #7e7e7e;
$border_top_color_1: #999999;


.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
	>.scroll-content {
		border: none !important;
		box-sizing: content-box !important;
		height: auto;
		left: 0;
		margin: 0;
		max-height: none;
		max-width: none !important;
		overflow: scroll !important;
		padding: 0;
		position: relative !important;
		top: 0;
		width: auto !important;
		&::-webkit-scrollbar {
			height: 0;
			width: 0;
		}
	}
}
.scroll-element {
	display: none;
	box-sizing: content-box;
	div {
		box-sizing: content-box;
	}
	.scroll-bar {
		cursor: default;
	}
	.scroll-arrow {
		cursor: default;
	}
}
.scroll-element.scroll-x.scroll-scrollx_visible {
	display: block;
}
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}
.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: $border_top_color_1;
	>.scroll-content {
		overflow: hidden !important;
		>textarea {
			border: none !important;
			box-sizing: border-box;
			height: 100% !important;
			margin: 0;
			max-height: none !important;
			max-width: none !important;
			overflow: scroll !important;
			outline: none;
			padding: 2px;
			position: relative !important;
			top: 0;
			width: 100% !important;
			&::-webkit-scrollbar {
				height: 0;
				width: 0;
			}
		}
	}
}
.scrollbar-inner {
	>.scroll-element {
		border: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 10;
		div {
			border: none;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_outer {
			overflow: hidden;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
		.scroll-element_track {
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			filter: alpha(opacity=40);
			opacity: 0.4;
			background-color: $background_color_1;
		}
		.scroll-bar {
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			filter: alpha(opacity=40);
			opacity: 0.4;
			background-color: $background_color_2;
		}
		&:hover {
			.scroll-bar {
				background-color: $background_color_3;
			}
		}
	}
	>.scroll-element.scroll-x {
		bottom: 2px;
		height: 8px;
		left: 0;
		width: 100%;
	}
	>.scroll-element.scroll-y {
		height: 100%;
		right: 2px;
		top: 0;
		width: 8px;
	}
	>.scroll-element.scroll-draggable {
		.scroll-bar {
			background-color: $background_color_3;
		}
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_track {
			left: -12px;
		}
		.scroll-element_size {
			left: -12px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_track {
			top: -12px;
		}
		.scroll-element_size {
			top: -12px;
		}
	}
}
.scrollbar-outer {
	>.scroll-element {
		border: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 10;
		background-color: $background_color_4;
		div {
			border: none;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_outer {
			overflow: hidden;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
		.scroll-element_track {
			background-color: $background_color_5;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
		.scroll-bar {
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			background-color: $background_color_6;
			&:hover {
				background-color: $background_color_2;
			}
		}
	}
	>.scroll-element.scroll-x {
		bottom: 0;
		height: 12px;
		left: 0;
		width: 100%;
		.scroll-element_outer {
			height: 8px;
			top: 2px;
		}
		.scroll-bar {
			min-width: 10px;
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		right: 0;
		top: 0;
		width: 12px;
		.scroll-element_outer {
			left: 2px;
			width: 8px;
		}
		.scroll-bar {
			min-height: 10px;
		}
	}
	>.scroll-element.scroll-draggable {
		.scroll-bar {
			background-color: $background_color_3;
		}
	}
	>.scroll-content.scroll-scrolly_visible {
		left: -12px;
		margin-left: 12px;
	}
	>.scroll-content.scroll-scrollx_visible {
		top: -12px;
		margin-top: 12px;
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_track {
			left: -14px;
		}
		.scroll-element_size {
			left: -14px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_track {
			top: -14px;
		}
		.scroll-element_size {
			top: -14px;
		}
	}
}
.scrollbar-macosx {
	>.scroll-element {
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 10;
		div {
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_track {
			display: none;
		}
		.scroll-bar {
			background-color: $background_color_7;
			display: block;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			-webkit-transition: opacity 0.2s linear;
			-moz-transition: opacity 0.2s linear;
			-o-transition: opacity 0.2s linear;
			-ms-transition: opacity 0.2s linear;
			transition: opacity 0.2s linear;
		}
	}
	&:hover {
		>.scroll-element {
			.scroll-bar {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
				filter: alpha(opacity=70);
				opacity: 0.7;
			}
		}
	}
	>.scroll-element.scroll-draggable {
		.scroll-bar {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			filter: alpha(opacity=70);
			opacity: 0.7;
		}
	}
	>.scroll-element.scroll-x {
		bottom: 0px;
		height: 0px;
		left: 0;
		min-width: 100%;
		overflow: visible;
		width: 100%;
		.scroll-bar {
			height: 7px;
			min-width: 10px;
			top: -9px;
		}
		.scroll-element_outer {
			left: 2px;

		}
		.scroll-element_size {
			left: -4px;
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		min-height: 100%;
		right: 0px;
		top: 0;
		width: 0px;
		.scroll-bar {
			left: -9px;
			min-height: 10px;
			width: 7px;
		}
		.scroll-element_outer {
			top: 2px;
		}
		.scroll-element_size {
			top: -4px;
		}
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_size {
			left: -11px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_size {
			top: -11px;
		}
	}
}
.scrollbar-light {
	>.scroll-element {
		border: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		z-index: 10;
		background-color: $background_color_4;
		div {
			border: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_outer {
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		.scroll-element_size {
			background: #dbdbdb;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
			background: -moz-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dbdbdb), color-stop(100%,#e8e8e8));
			background: -webkit-linear-gradient(left, #dbdbdb 0%,#e8e8e8 100%);
			background: -o-linear-gradient(left, #dbdbdb 0%,#e8e8e8 100%);
			background: -ms-linear-gradient(left, #dbdbdb 0%,#e8e8e8 100%);
			background: linear-gradient(to right, #dbdbdb 0%,#e8e8e8 100%);
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		.scroll-bar {
			background: #fefefe;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
			background: -moz-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefefe), color-stop(100%,#f5f5f5));
			background: -webkit-linear-gradient(left, #fefefe 0%,#f5f5f5 100%);
			background: -o-linear-gradient(left, #fefefe 0%,#f5f5f5 100%);
			background: -ms-linear-gradient(left, #fefefe 0%,#f5f5f5 100%);
			background: linear-gradient(to right, #fefefe 0%,#f5f5f5 100%);
			border: 1px solid #dbdbdb;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
	}
	>.scroll-element.scroll-x {
		bottom: 0;
		height: 17px;
		left: 0;
		min-width: 100%;
		width: 100%;
		.scroll-bar {
			height: 10px;
			min-width: 10px;
			top: 0px;
		}
		.scroll-element_outer {
			height: 12px;
			left: 2px;
			top: 2px;
		}
		.scroll-element_size {
			left: -4px;
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		min-height: 100%;
		right: 0;
		top: 0;
		width: 17px;
		.scroll-bar {
			left: 0px;
			min-height: 10px;
			width: 10px;
		}
		.scroll-element_outer {
			left: 2px;
			top: 2px;
			width: 12px;
		}
		.scroll-element_size {
			top: -4px;
		}
	}
	>.scroll-content.scroll-scrolly_visible {
		left: -17px;
		margin-left: 17px;
	}
	>.scroll-content.scroll-scrollx_visible {
		top: -17px;
		margin-top: 17px;
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_size {
			left: -19px;
		}
		.scroll-element_track {
			left: -19px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_size {
			top: -19px;
		}
		.scroll-element_track {
			top: -19px;
		}
	}
}
.scrollbar-rail {
	>.scroll-element {
		border: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		z-index: 10;
		background-color: $background_color_4;
		div {
			border: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_size {
			background-color: $background_color_8;
			background-color: $background_color_9;
		}
		.scroll-element_outer {
			&:hover {
				.scroll-element_size {
					background-color: $background_color_10;
					background-color: $background_color_11;
				}
				.scroll-bar {
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
				}
			}
		}
		.scroll-bar {
			background-color: $background_color_12;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
		}
	}
	>.scroll-element.scroll-x {
		bottom: 0;
		height: 12px;
		left: 0;
		min-width: 100%;
		padding: 3px 0 2px;
		width: 100%;
		.scroll-bar {
			height: 10px;
			min-width: 10px;
			top: 1px;
		}
		.scroll-element_outer {
			height: 15px;
			left: 5px;
		}
		.scroll-element_size {
			height: 2px;
			left: -10px;
			top: 5px;
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		min-height: 100%;
		padding: 0 2px 0 3px;
		right: 0;
		top: 0;
		width: 12px;
		.scroll-bar {
			left: 1px;
			min-height: 10px;
			width: 10px;
		}
		.scroll-element_outer {
			top: 5px;
			width: 15px;
		}
		.scroll-element_size {
			left: 5px;
			top: -10px;
			width: 2px;
		}
	}
	>.scroll-content.scroll-scrolly_visible {
		left: -17px;
		margin-left: 17px;
	}
	>.scroll-content.scroll-scrollx_visible {
		margin-top: 17px;
		top: -17px;
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_size {
			left: -25px;
		}
		.scroll-element_track {
			left: -25px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_size {
			top: -25px;
		}
		.scroll-element_track {
			top: -25px;
		}
	}
}
.scrollbar-dynamic {
	>.scroll-element {
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 10;
		div {
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_outer {
			opacity: 0.3;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
		}
		.scroll-element_size {
			background-color: $background_color_13;
			opacity: 0;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			-webkit-transition: opacity 0.2s;
			-moz-transition: opacity 0.2s;
			-o-transition: opacity 0.2s;
			-ms-transition: opacity 0.2s;
			transition: opacity 0.2s;
		}
		.scroll-bar {
			background-color: $background_color_14;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
		}
		&:hover {
			.scroll-element_outer {
				overflow: hidden;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
				filter: alpha(opacity=70);
				opacity: 0.7;
				.scroll-element_size {
					opacity: 1;
				}
				.scroll-bar {
					height: 100%;
					width: 100%;
					-webkit-border-radius: 12px;
					-moz-border-radius: 12px;
					border-radius: 12px;
				}
			}
		}
	}
	>.scroll-element.scroll-x {
		bottom: 2px;
		height: 7px;
		left: 0;
		min-width: 100%;
		width: 100%;
		.scroll-bar {
			bottom: 0;
			height: 7px;
			min-width: 24px;
			top: auto;
		}
		.scroll-element_outer {
			bottom: 0;
			top: auto;
			left: 2px;
			-webkit-transition: height 0.2s;
			-moz-transition: height 0.2s;
			-o-transition: height 0.2s;
			-ms-transition: height 0.2s;
			transition: height 0.2s;
		}
		.scroll-element_size {
			left: -4px;
		}
		&:hover {
			.scroll-element_outer {
				height: 20px;
				min-height: 7px;
			}
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		min-height: 100%;
		right: 2px;
		top: 0;
		width: 7px;
		.scroll-bar {
			left: auto;
			min-height: 24px;
			right: 0;
			width: 7px;
		}
		.scroll-element_outer {
			left: auto;
			right: 0;
			top: 2px;
			-webkit-transition: width 0.2s;
			-moz-transition: width 0.2s;
			-o-transition: width 0.2s;
			-ms-transition: width 0.2s;
			transition: width 0.2s;
		}
		.scroll-element_size {
			top: -4px;
		}
		&:hover {
			.scroll-element_outer {
				min-width: 7px;
				width: 20px;
			}
		}
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_size {
			left: -11px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_size {
			top: -11px;
		}
	}
	>.scroll-element.scroll-draggable {
		.scroll-element_outer {
			overflow: hidden;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			filter: alpha(opacity=70);
			opacity: 0.7;
			.scroll-element_size {
				opacity: 1;
			}
			.scroll-bar {
				height: 100%;
				width: 100%;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				border-radius: 12px;
			}
		}
	}
	>.scroll-element.scroll-x.scroll-draggable {
		.scroll-element_outer {
			height: 20px;
			min-height: 7px;
		}
	}
	>.scroll-element.scroll-y.scroll-draggable {
		.scroll-element_outer {
			min-width: 7px;
			width: 20px;
		}
	}
}
.scrollbar-chrome {
	>.scroll-element {
		border: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		z-index: 10;
		background-color: $background_color_4;
		div {
			border: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			z-index: 10;
			display: block;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
		.scroll-element_track {
			background: #f1f1f1;
			border: 1px solid #dbdbdb;
		}
		.scroll-bar {
			background-color: $background_color_6;
			border: 1px solid #bdbdbd;
			cursor: default;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			&:hover {
				background-color: $background_color_2;
				border-color: $border_color_1;
			}
		}
	}
	>.scroll-element.scroll-x {
		bottom: 0;
		height: 16px;
		left: 0;
		min-width: 100%;
		width: 100%;
		.scroll-bar {
			height: 8px;
			min-width: 10px;
			top: 3px;
		}
		.scroll-element_outer {
			border-left: 1px solid #dbdbdb;
		}
		.scroll-element_track {
			height: 14px;
			left: -3px;
		}
		.scroll-element_size {
			height: 14px;
			left: -4px;
		}
	}
	>.scroll-element.scroll-y {
		height: 100%;
		min-height: 100%;
		right: 0;
		top: 0;
		width: 16px;
		.scroll-bar {
			left: 3px;
			min-height: 10px;
			width: 8px;
		}
		.scroll-element_outer {
			border-top: 1px solid #dbdbdb;
		}
		.scroll-element_track {
			top: -3px;
			width: 14px;
		}
		.scroll-element_size {
			top: -4px;
			width: 14px;
		}
	}
	>.scroll-element.scroll-draggable {
		.scroll-bar {
			background-color: $background_color_3;
			border-color: $border_color_2;
		}
	}
	>.scroll-content.scroll-scrolly_visible {
		left: -16px;
		margin-left: 16px;
	}
	>.scroll-content.scroll-scrollx_visible {
		top: -16px;
		margin-top: 16px;
	}
	>.scroll-element.scroll-x.scroll-scrolly_visible {
		.scroll-element_size {
			left: -19px;
		}
		.scroll-element_track {
			left: -19px;
		}
	}
	>.scroll-element.scroll-y.scroll-scrollx_visible {
		.scroll-element_size {
			top: -19px;
		}
		.scroll-element_track {
			top: -19px;
		}
	}
}

.lds-roller {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    z-index: 255;
    background: rgba(0,0,0,0.7);
/*    width: 80px;
    height: 80px;*/

    div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
        @include align-center-pos;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $color-pink;
            //margin: -4px 0 0 -4px;
        }
        
        &:nth-child(even){
            &:after{
                background: $color-pink; 
            }
        }
        
        &:nth-child(odd){
            &:after{
                background: $color-blue;
            }
        }

        &:nth-child(1) {
            animation-delay: -0.036s;
            &:after {
                top: 63px;
                left: 63px;
            }
        }

        &:nth-child(2) {
            animation-delay: -0.072s;
            &:after {
                top: 68px;
                left: 56px;
            }
        }

        &:nth-child(3) {
          animation-delay: -0.108s;

          &:after {
            top: 71px;
            left: 48px;
          }
        }

        &:nth-child(4) {
            animation-delay: -0.144s;
            &:after {
                top: 72px;
                left: 40px;
            }
        }

        &:nth-child(5) {
          animation-delay: -0.18s;

          &:after {
            top: 71px;
            left: 32px;
          }
        }

        &:nth-child(6) {
          animation-delay: -0.216s;

          &:after {
            top: 68px;
            left: 24px;
          }
        }

        &:nth-child(7) {
          animation-delay: -0.252s;

          &:after {
            top: 63px;
            left: 17px;
          }
        }

        &:nth-child(8) {
              animation-delay: -0.288s;

              &:after {
                top: 56px;
                left: 12px;
              }
            }
        }
    }

    @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}