.col-fl{
    display: flex;
}
.title-store{
	padding: 0 0 20px;
	@include fontF($als, 28px, 400, $color-black);
}
.store-container{
    //max-width: 1300px; min-height: 750px;
    margin: 0 auto;
	.catalog-menu{
		width: 100%;
		ul{
			li{
				a{
					text-align: left;
				}
			}
		}
	}
	.left-panel-store{
        width: 20%;
		background-color: $color-lightgray;
		.catalog-menu{
			box-shadow: none;
		}
	}
	.right-panel-store{
		width: 80%;
		padding: 30px 25px;
	}
    .linked-products{
        margin: 50px 0px;
        h3{
            @include fontF($als-bold, 30px, 600, $color-black);
        }
    }
}

.store-container-category{
	display: flex;
	justify-content: space-between;
    margin: 0;
}

/* Товар в карточке категории */
.sorter{
	margin: 10px 0;
	@include fontF($gilroy-regular, 14px, 400, $color-black);
}
.list-category-products{
    margin-top: 30px;
	.panel-filters{

		form{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left-panel-filter{
				display: flex;
				align-items: center;
				.filter-block-checkbox-list{
					position: relative;
					.filter-block-header{
						margin-right: 15px;
						label{
							a{
								padding: 10px 65px 10px 15px;
								border-radius: 10px;
								border: 1px solid $color-bordergray;
								@include fontF($gilroy-regular, 16px, 400, $color-black);
								&:after{
									content: '\e902';
									display: inline-block;
									position: relative;
									right: -45px;
									top: 2px;
									@include fontF($icomoon, 16px, normal, $color-black);
								}
							}
						}
					}
					.filter-block-body{
						display: flex;
						flex-wrap: wrap;
						position: absolute;
						top: 24px;
						width: 91%;
						padding: 0 5px;
						border: 1px solid $color-bordergray;
						border-radius: 0 0 10px 10px;
						background-color: $color-white;
						z-index: 100;
						.checkbox{
							padding-left: 0;
							+ .checkbox{
								margin-top: 10px;
							}
							label{
							    padding: 5px;
							    margin: 0 0 2px 2px;
							    border: 1px solid $color-bordergray;
								@include fontF($gilroy-regular, 16px, 400, $color-black);
								input{
									display: none;
								}
								&:active{
									border: 1px solid $color-gray;
								}
							}
						}
					}
					#sezon-3{
						flex-direction: column;
						padding-left: 25px !important;
						label{
							position: relative;
						    padding: 5px;
						    margin: 0 0 2px 2px;
						    border: none !important;
							@include fontF($gilroy-regular, 16px, 400, $color-black);
							input{
								display: block !important;
							}
						}
					}
                    #razmer-2{
                        label{
                            &.active{
                                border: solid 1px $color-black;
                            }
                        }
                    }
					#price-filter{
						flex-direction: column;
						align-items: center;
						.price-flex{
							margin: 5px;
						}
					}
				}
				.btn-filter{
					padding: 10px 40px;
					position: relative;
					top: -1px;
					border-radius: 10px;
					border: none;
					background-color: $color-pink;
					@include fontF($gilroy-regular, 16px, 400, $color-white);
					&:hover{
						background-color: $color-darkpink;
					}
				}
			}
			.right-panel-filter{
				.btn-clear{
					position: relative;
					top: -1px;
					padding: 10px 40px 10px 20px;
					border-radius: 10px;
					border: none;
					background-color: $color-blue-btn;
					@include fontF($gilroy-regular, 16px, 400, $color-white);
					&:after{
						content: '\e901';
						display: inline-block;
						position: relative;
						right: -25px;
						top: 0px;
						@include fontF($icomoon, 12px, normal, $color-white);
					}
					&:hover{
						background-color: $color-darkblue;
					}
				}
			}
			
			.filter-block{
				display: flex;
				justify-content: space-between;
				align-items: center;
				.filter-attributes{
					display: flex;
					justify-content: space-between;
					align-items: center;
					.filter-block-checkbox-list{
						flex: 1 1 auto;
						position: relative;
					}
				}
			}
		}
	}


    .sorter{
        margin: 15px 0px; margin-top: 25px;
        @include fontF($gilroy-regular, 14px, 400, $color-size);
        a{
            @include fontF($gilroy, 14px, 600, $color-breadcrumbs);
        }
    }
    
	.product-item-block{
        //border: solid 1px black;
        padding: 15px;
		.item-product{
			position: relative;
			display: flex;
			flex-direction: column;
            .btn-offer{
                position: absolute;
                top: 25px; right: 40px;
                color: $color-white;
                font-size: 14px;
                font-weight: normal;
                line-height: 22px;
                text-align: center;
                background: $color-darkblue;
                padding: 5px 15px;
                margin: 0 0 5px;
                @include delay;
                &:after{
                    content: '';
                    position: absolute;
                    right: -25px;
                    top: 0;
                    border: 16px solid $color-darkblue;
                    width: 14px;
                    border-right: 12px solid transparent;
                }
            }
			.product-image{
				margin: 0 auto;
				position: relative;
                height: 350px;
				.icon-youtube-pink{
					position: absolute;
					top: 20px;left: 20px;
                    // z-index: 255;
					@include fontF($icomoon, 40px, normal, $color-pink);
				}
			}
            .thubms-product-images-carousel{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 105%;
                .thubms-product-images{
                    width: 100%; height: 99%;
                    display: flex;
                    .image-thumb{
                        flex: 1 1 auto;
                        height: 100%;
                        margin: 0px 10px;
                        border-bottom: solid 5px $color-img-thubms;
                        @include delay;
                        &.active, &:hover{
                            border-color: $color-pink;
                            @include delay;
                        }
                        &:first-child{
                            margin-left: 0px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }
            .product-info-block{
                margin-top: 15px;
                padding: 0px 15px;
                height: 60px; overflow: hidden;
            }
			.product-title{
				a{
					display: block;
					padding: 15px 0;
					@include fontF($gilroy-bold, 16px, 800, $color-black);
				}
			}
			.product-sizes{
				font-size: 16px;
				color: $color-black;
				label{
					display: block;
					padding-bottom: 15px;
					@include fontF($gilroy-regular, 14px, 400, $color-size);
				}
			}
			.product-price-more{
				display: flex;
				justify-content: space-between;
				align-items: center;
				.product-price{
					@include fontF($gilroy-black, 24px, 900, $color-black);
                    i{
                        font-size: 18px; padding-left: 5px;
                    }
				}
				.product-link-more{
					.btn-pink{
						padding: 12px 15px 12px 45px;
					}
				}
			}
		}
        &:hover{
            box-shadow: 0px 6px 28.5px 1.5px rgba(55, 61, 76, 0.1);
        }
	}
}


/* Корзина */
.store-container{
	min-height: 700px;
	.order-form{
		.left-panel-shopcart{
			width: 80%;
			width: 100%;
			.header-shopcart{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 6px;
				border-bottom: 1px solid $color-backetborder;
				.col-flex{
					width: 16%;
					text-align: center;
					@include fontF($als-bold, 16px, 800, $color-gray);
				}
				.cart-image, .cart-title, .cart-attribute{
					text-align: left;
				}
			}
			.body-shopcart{
				.shopcart-line-item{
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid $color-backetborder;
					.col-flex{
						width: 16%;
						padding: 6px;
						text-align: center;
						@include fontF($als-bold, 16px, 800, $color-black);
						.icon-ruble-currency-sign{
							position: relative;
							padding-left: 5px;
							@include fontF($icomoon, 13px, normal, $color-black);
						}
						.input-group-btn{
							.cart-quantity-increase, .cart-quantity-decrease{
								position: relative;
								border: 1px solid $color-increase;
								&:hover{
									background-color: $color-bordergray;
								}
								&:focus{
									background-color: $color-bordergray;
									color: $color-black;
								}
							}
							.cart-quantity-increase{
								margin-left: 3px;
							}
							.cart-quantity-decrease{
								margin-right: 3px;
							}
						}
						.cart-delete-product{
							background-color: transparent;
							color: $color-delete;
							&:hover{
								color: $color-gray;
							}
							&:active{
								box-shadow: none;
								outline: none;
							}
						}
					}
					.cart-image, .cart-title, .cart-attribute{
						text-align: left;
						span{
							display: block;
							margin-bottom: 5px;
							@include fontF($gilroy, 13px, 300, $color-gray);
						}
						a{
							@include fontF($als-bold, 16px, 800, $color-black);
						}
					}
					.cart-attribute{
						display: flex;
						flex-direction: column;
						label{
							@include fontF($gilroy, 12px, 300, $color-gray);
							span{
								display: inline;
								@include fontF($als-bold, 14px, 800, $color-black);
							}
						}
					}
				}
				.footer-shopcart{
					margin: 30px 0;
					@include fontF($gilroy-bold, 20px, 800, $color-black);
                    i{
                        font-size: 15px;
                        font-weight: 600;
                    }
				}
			}
		}
        .panel-shopcart-delivery{
            width: 100%;
            @include fontF($als-bold, 15px, 800, $color-black);
            .block-delivery{
                .item-delivery{
                    &:first-child{
                        margin-left: 0px;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    label{
                        height: 170px;
                        padding: 10px; padding-right: 40px; margin: 15px auto;
                        border: solid 1px $color-lightgray;
                        @include fontF($gilroy, 14px, 400, $color-black); 
                        div{
                            &.delivery-name{
                                height: 40px; padding-left: 80px;
                                background-size: 70px;
                                background-repeat: no-repeat;
                                background-position: 0% 10%;
                                @include fontF($gilroy-bold, 16px, 600, $color-black);
                            }
                            &.delivery-description{
                                @include fontF($gilroy, 14px, 400, $color-black); 
                            }
                            &.delivery-price{
                                display: flex;
                                align-items: center;
                                margin: 5px 0px;
                                @include fontF($gilroy-bold, 16px, 600, $color-black);
                                i{
                                    @extend %icon-round;
                                    border: solid 1px $color-blue;
                                    color: $color-blue;
                                }
                            }
                        }
                    }
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"]:checked + label {
                        display: block;
                        border: solid 1px $color-black;
                        &::after {
                            font-family: FontAwesome;
                            background: $color-pink;
                            content: "\f00c";
                            font-size: 22px;
                            position: absolute;
                            top: 15.5px;
                            right: 16px;
                            text-align: center;
                            padding: 0px;
                            margin: 0px;
                            width: 40px; height: 40px;
                            color: $color-white;
                            @include align-center-flex;
                        }
                    }
                    &.self{
                        div{
                            &.delivery-name{
                                padding-left: 0px;
                            }
                        }
                    }
                    &.sdek-pvz, &.sdek-courier{
                        div{
                            &.delivery-name{
                                background-image: url("../images/sdek-logo.png");
                            }
                        }
                    }
                    &.post-rf{
                        div{
                            &.delivery-name{
                                background-image: url("../images/post-rf-logo.jpg");
                            }
                        }
                    }
                    &.post-rf-ems{
                        div{
                            &.delivery-name{
                                background-image: url("../images/ems-logo.png");
                            }
                        }
                    }
                }

            }
        }
        .panel-order-form{
            h3{
                @include fontF($als-bold, 24px, 800, $color-black);
                margin: 15px 0px;
            }
        }
        .panel-order{
            width: 100%;
            .form-group{
                label{
                    @include fontF($als-bold, 16px, 800, $color-black);
                }
            }
            .js-post-rf{
                .list-prices{
                    width: 60%;
                    .flex-tariff{
                        display: flex;
                        align-items: baseline;
                        padding: 5px 0;
                        p{		
                            flex: 30%;
                            text-align: right;
                            @include fontF($gilroy, 16px, 800, $color-breadcrumbs);
                            &:first-child{
                                flex: 70%;
                                text-align: left;
                                @include fontF($als-bold, 17px, 800, $color-black);
                            }
                        }
                    }
                }
            }
        }
	}
    .btn-order{
        /*position: relative;
        left: 50%;
        transform: translateX(-50%);*/
        background: $color-lightgray;
        border: solid 2px $color-black;
        border-radius: 10px;
        padding: 10px 25px;
        margin-top: 15px;
        @include fontF($als-bold, 15px, 900, $color-black);
    }
}

.list-pvz-sdek{
    margin: 30px auto;
    max-height: 430px;
    overflow: hidden;
    .block-pvz{
        width: 100%;
        .item-pvz{
            position: relative;
             label{
                height: 130px; height: auto;
                padding: 10px; margin: 15px auto;
                border: solid 1px $color-lightgray;
                @include fontF($gilroy, 16px, 400, $color-black); 
                div{
                    &.pvz-name{
                        @include fontF($als-bold, 16px, 900, $color-black);
                        margin-bottom: 15px;
                    }
                    &.pvz-address{
                        position: relative;
                        .hover-info{
                            display: none;
                            position: absolute;
                            right: 0px; top: 0px;
                            width: 100%;
                            border: solid 1px $color-lightgray;
                            background: $color-white;
                        }
                        &:hover{
                            .hover-info{
                                display: block;
                            }
                        }
                    }
                }
            }
            input[type="radio"] {
                display: none;
            }
            input[type="radio"]:checked + label {
                display: block;
                border: solid 1px $color-black;
                &::after {
                    font-family: FontAwesome;
                    background: $color-pink;
                    content: "\f00c";
                    font-size: 22px;
                    position: absolute;
                    top: 15.5px;
                    right: 16px;
                    text-align: center;
                    padding: 0px;
                    margin: 0px;
                    width: 40px; height: 40px;
                    color: $color-white;
                    @include align-center-flex;
                }
            }
            i{
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                width: 28px;
                height: 28px;
                border: solid 1px $color-blue;
                border-radius: 50%;
                color: $color-blue;
                @include align-center-flex;
            }
            .col-item{
                margin: 10px 0px;
                p{
                    padding-top: 5px;
                }
            }
        }
    }
}


.tariff-container{
    div{
        &.name-tariff{
            @include fontF($als-bold, 16px, 900, $color-black);
            margin-bottom: 10px;
        }
        &.price-tariff{
            @include fontF($als-bold, 16px, 800, $color-black);
        }
    }
    .item-tariff{
        input[type="radio"]:checked + label {
            &::after {
                top: 0.5px !important;
                right: 0.5px !important;
            }
        }
    }
}

.post-container{
    padding: 10px; margin: 15px auto;
    border: solid 1px $color-lightgray;
    @include fontF($gilroy, 16px, 400, $color-black);
    h4{
        @include fontF($als-bold, 16px, 900, $color-black);
    }
    .flex-tariff{
        display: flex;
        margin: 10px 0px;
        label{
            @include fontF($gilroy, 16px, 400, $color-black);
        }
        p{
            padding-top: 5px;
        }
        i{
            @extend %icon-round;
            border: solid 1px $color-blue;
            color: $color-blue;
        }
    }
}

.total-cost-block{
    @include fontF($gilroy-bold, 20px, 800, $color-black);
    i{
        font-size: 15px;
        font-weight: 600;
    }
}