.title{
	padding-bottom: 15px;
	@include fontF($als-bold, 30px, 500, $color-black);
}

.block-flex-auto{
    flex: 1 1 auto;
}

#cart-widget{
    position: relative;
    .count-product-cart{
        position: absolute;
        top: -20px; right: 5px;
        width: 30px; height: 30px;
        background: $color-pink;
        border-radius: 50%;
        @include fontF($als-bold, 14px, 600, $color-white);
        @include align-center-flex;
    }
}

.product-feature{
	.variants{
		.variant-item{
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid $color-lightgray;
			.variant-item__title{
				padding-right: 15px;
				@include fontF($gilroy-bold, 18px, 800, $color-black);
			}
		}
	}
}

.product-container{
    width: 1200px;
    padding: 40px 15px;
}

.product-panel{
    margin-top: 35px;
    .product-images{
        display: flex;
        .left-thumb{
            display: flex;
            flex-direction: column;
            .thumbnails{
                .image-thumbnails{
                    margin-right: 30px;
                }
                .thumbnail{
                    margin: 15px auto;
                    padding: 0px;
                    border: none;
                    &:first-child{
                        margin-top: 0px;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .video-link{
                position: relative;
                // width: 17%;
                margin-bottom: 15px;
                margin-right: 30px;
                margin-top: 15px;
                a{
                    position: relative;
                    .icon-play-button1{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 27px;
                    }
                    &:before{
                        content: '►';
                        display: block;
                        width: 30px;
                        height: 30px;
                        padding-top: 7px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50px;
                        text-align: center;
                        background: $color-video;
                        color: $color-white;
                    }
                }
            }
        }
        .image-main{
            position: relative;
            // top: -77px;
            overflow: hidden;
            width: 400px;
            .button-video{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50px;
                left: -130px;
                width: 400px;
                padding: 2px;
                text-align: center;
                background-color: $color-pink;
                transform: rotate(-45deg);
                z-index: 100;
                @include fontF($als-bold, 15px, 800, $color-white);
                a{
                    @include fontF($als-bold, 15px, 800, $color-white);
                    &:hover{
                        color: $color-white;
                    }
                }
                .icon-play-button{
                    display: inline-block;
                    margin-right: 15px;
                    padding: 7px 0 0 4px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50px;
                    background-color: $color-lightpink;
                    @include fontF($icomoon, 12px, normal, $color-white);
                }
            }
        }
    }
    /* .product-images{
        
        .video-link{
            position: relative;
            width: 17%;
            margin-bottom: 15px;
            a{
                position: relative;
                .icon-play-button1{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 27px;
                }
                &:before{
                    content: '►';
                    display: block;
                    width: 30px;
                    height: 30px;
                    padding-top: 7px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50px;
                    text-align: center;
                    background: $color-video;
                    color: $color-white;
                }
            }
        }
        img{
            border-radius: 5px;
        }
        .thumbnails{
            display: flex;
            .image-thumbnails{
                margin-right: 30px;
            }
            .thumbnail{
                margin: 15px auto;
                padding: 0px;
                border: none;
                &:first-child{
                    margin-top: 0px;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            .image-main{
                position: relative;
                // top: -77px;
                overflow: hidden;
                .button-video{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 50px;
                    left: -130px;
                    width: 400px;
                    padding: 2px;
                    text-align: center;
                    background-color: $color-pink;
                    transform: rotate(-45deg);
                    @include fontF($als-bold, 15px, 800, $color-white);
                    .icon-play-button{
                        display: inline-block;
                        margin-right: 15px;
                        padding: 7px 0 0 4px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                        background-color: $color-lightpink;
                        @include fontF($icomoon, 12px, normal, $color-white);
                    }
                }
            }
        }
    } */
    .product-data{
        @include fontF($gilroy, 15px, 400, $color-desc);
        label{
            @include fontF($gilroy-bold, 18px, 800, $color-black);
        }
        .line-bottom{
            border-bottom: solid 1px $color-line;
        }
        .product-title{
            @include fontF($als-bold, 30px, 900, $color-black);
        }
        .product-sku{
            margin: 15px 0px;
            color: $color-breadcrumbs;
            font-size: 16px;
        }
        .product-block-prices-shopcart{
            display: flex;
            align-items: center;
            margin: 20px 0px;
            .price{
                @include fontF($als-black, 30px, 900, $color-pink);
                i{
                    font-size: 22px;
                }
            }
            #result-price{
                display: inline-block;
            }
            .price-old{
                text-decoration: line-through;
                @include fontF($als-bold, 20px, 900, $color-price);
            }
            .block-shopcart{
                .btn-shopcart{
                    position: relative;
                    background: $color-lightgray;
                    border: solid 2px $color-black;
                    border-radius: 10px;
                    padding: 10px 25px;
                    @include fontF($als-bold, 19px, 900, $color-black);
                    &:before{
                        content: "\e90e";
                        display: block;
                        position: absolute;
                        left: -15px; top: -15px;
                        width: 40px; height: 40px;
                        font-family: $icomoon; font-size: 20px;
                        background: $color-pink;
                        color: $color-white;
                        border-radius: 50%;
                        @include align-center-flex;
                    }
                }
            }
        }
        .product-options{
            .variants{
                .variant-item{
                    display: flex;
                    flex-flow: row wrap;
                    padding: 15px 0px;
                    .variant-item__title{
                        margin-right: 10px;
                        flex: 0 1 auto;
                    }
                    .variant-item__list{
                        display: flex;
                        justify-content: space-around;
                        .variant-button{
                            border: none; border-radius: 3px;
                            padding: 3px 7px; margin: 0px 5px;
                            background: transparent;
                            @include fontF($gilroy-bold, 16px, 900, $color-variant);
                            &.active{
                                background: $color-blue-btn;
                                color: $color-white;
                            }
                            &:first-child{
                                margin-left: 0px;
                            }
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
        .product-description{
            line-height: 1.4;
            padding: 15px 0px 20px;
        }
        .product-share{
            margin: 20px 0px;
            display: flex;
            align-items: center; align-self: center;
            justify-content: space-between;
            ul{
                li{
                    margin: 0px 5px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    .ya-share2__badge{
                        background-color: $color-soc;
                    }
                }
            }
        }
    }
}

.catalog-filter{
    min-width: 735px;
    .search-group{
        display: flex;
        a, i, p, div{
            color: $color-white;
        }
        input{
            background: transparent;
            border: none; border-radius: 0px;
            border-bottom: solid 2px $color-white;
            color: $color-white;
        }
        .btn-search{
            background: transparent;
            i{
                font-size: 20px;
            }
            &:focus, &:hover{
                outline: none;
                color: $color-white;
            }
        }
    }
}

.zoom {
    display: inline-block;
    position: relative;
}

.suggestions-wrapper{
    a{
        display: none !important;
    }
}