$color-basic: #464646;
$color-form: #242424;
$color-white: #fff;
$color-black: #000000;

$color-blue: #166db0;
$color-darkblue: #054e86;
$color-blue-btn: #005fa7;

$color-pink: #e41484;
$color-lightpink: #f0379a;
$color-darkpink: #b30b65;

$color-red: #ff0000;

$color-video: #fdb51c;

$color-gray: #383838;
$color-backetborder: #dadada;
$color-breadcrumbs: #585858;
$color-desc: #828282;
$color-line: #e4e4e4;
$color-soc: #b6b6b6;
$color-variant: #a2a2a2;
$color-searchgray: #3d3d3d;
$color-lightgray: #eeeeee;
$color-size: #adadad;
$color-price: #c8c8c8;
$color-bordergray: #d7d7d7;

$color-increase: #cccccc;
$color-delete: #807f7f;
$color-img-thubms: #eaeaea;
$color-whatsapp: #25d366;

$checkbox-size: 30px;
$tick-color: #e41484;

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3, h4, div, ul, li, div{
	margin: 0px; padding: 0px; border: 0px;
}

body{
	background: #fff;
}

ul{
	list-style: none;
	margin:0px !important;
	padding:0px !important;
}

.row{
	//margin: 0px !important;
}

.list-view{
	padding: 0px !important
}

a{
	outline: none !important;
	text-decoration: none;
	@include delay;
	&:hover{
		@include delay;
		text-decoration: none !important;
	}
	&:focus, &:active{
		@include delay;
		text-decoration: none !important;
	}
}

img{
	max-width: 100%;
	width: auto;
}

.container-site{
	position: relative; width: 100%;
	line-height: 1.2;
}

.content-site{
	width: 1170px; margin: 0 auto;
	height: 100%;
	@include fontF($als, 16px, 300, $color-basic);
}

.page-txt{
	img{
		max-width: 100%;
	}
	ul, ol{
		list-style: disc !important;
		li{
			padding: 5px;
			margin: 0px 15px;
		}
	}
}

.icon-play-button1 .path1:before {
  content: "\e912";
  color: rgb(235, 186, 22);
}
.icon-play-button1 .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play-button1 .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube-pink:before {
  content: "\e911";
}
.icon-ruble-currency-sign:before {
  content: "\e910";
}
.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-down-arrow:before {
  content: "\e902";
}
.icon-facebook-letter-logo:before {
  content: "\e903";
}
.icon-instagram-logo:before {
  content: "\e904";
}
.icon-magnifying-glass:before {
  content: "\e905";
}
.icon-play-button:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e907";
}
.icon-sort-button-with-three-lines:before {
  content: "\e908";
}
.icon-viber:before {
  content: "\e909";
}
.icon-vk-social-network-logo:before {
  content: "\e90a";
}
.icon-whatsapp-logo:before {
  content: "\e90b";
}
.icon-youtube-play-button-outlined-social-symbol:before {
  content: "\e90c";
}
.icon--1:before {
  content: "\e90d";
  color: #fff;
}
.icon--2:before {
  content: "\e90e";
  color: #fff;
}
.icon--3:before {
  content: "\e90f";
  color: #fff;
}