@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Light_0";
  src: url("../fonts/Gilroy-Light_0.otf");
  src: local("Gilroy-Light_0"), local("Gilroy-Light_0"), url("../fonts/Gilroy-Light_0.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/FuturaBookC.otf");
  src: local("FuturaBookC"), local("FuturaBookC"), url("../fonts/FuturaBookC.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ALS_schlange_sans_bld";
  src: url("../fonts/ALS_schlange_sans_bld.otf");
  src: local("ALS_schlange_sans_bld"), local("ALS_schlange_sans_bld"), url("../fonts/ALS_schlange_sans_bld.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "ALS_schlange_sans_blk";
  src: url("../fonts/ALS_schlange_sans_blk.otf");
  src: local("ALS_schlange_sans_blk"), local("ALS_schlange_sans_blk"), url("../fonts/ALS_schlange_sans_blk.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "beer_money";
  src: url("../fonts/beer_money.ttf");
  src: local("beer_money"), local("beer_money"), url("../fonts/beer_money.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "lamor";
  src: url("../fonts/lamor.otf");
  src: local("lamor"), local("lamor"), url("../fonts/lamor.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?na6e8g");
  src: url("../fonts/icomoon.eot?na6e8g#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?na6e8g") format("truetype"), url("../fonts/icomoon.woff?na6e8g") format("woff"), url("../fonts/icomoon.svg?na6e8g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, p, h1, h2, h3, h4, div, ul, li, div {
  margin: 0px;
  padding: 0px;
  border: 0px; }

body {
  background: #fff; }

ul {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important; }

.list-view {
  padding: 0px !important; }

a {
  outline: none !important;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  a:hover {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none !important; }
  a:focus, a:active {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none !important; }

img {
  max-width: 100%;
  width: auto; }

.container-site {
  position: relative;
  width: 100%;
  line-height: 1.2; }

.content-site {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  font-family: "ALS_schlange_sans_blk";
  font-size: 16px;
  font-weight: 300;
  color: #464646; }

.page-txt img {
  max-width: 100%; }
.page-txt ul, .page-txt ol {
  list-style: disc !important; }
  .page-txt ul li, .page-txt ol li {
    padding: 5px;
    margin: 0px 15px; }

.breadcrumbs {
  padding: 10px 0px !important;
  margin: 20px auto;
  background: #fff; }
  .breadcrumbs .breadcrumb {
    background: none; }
  .breadcrumbs a:hover {
    color: #f41a1a; }

.icon-back:before {
  content: "\e900"; }

.icon-close:before {
  content: "\e901"; }

.icon-down-arrow:before {
  content: "\e902"; }

.icon-facebook-letter-logo:before {
  content: "\e903"; }

.icon-instagram-logo:before {
  content: "\e904"; }

.icon-magnifying-glass:before {
  content: "\e905"; }

.icon-play-button:before {
  content: "\e906"; }

.icon-right-arrow:before {
  content: "\e907"; }

.icon-sort-button-with-three-lines:before {
  content: "\e908"; }

.icon-viber:before {
  content: "\e909"; }

.icon-vk-social-network-logo:before {
  content: "\e90a"; }

.icon-whatsapp-logo:before {
  content: "\e90b"; }

.icon-youtube-play-button-outlined-social-symbol:before {
  content: "\e90c"; }

.icon--1:before {
  content: "\e90d"; }

.icon--2:before {
  content: "\e90e"; }

.icon--3:before {
  content: "\e90f"; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  outline: none; }

.btn {
  display: inline-block;
  border: none;
  text-align: center; }
  .btn:focus, .btn:active {
    outline: none !important;
    color: #fff; }

.btn-pink {
  padding: 15px 30px;
  font-family: "ALS_schlange_sans_bld";
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  border-radius: 15px;
  background-color: #e41484;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  .btn-pink:hover {
    color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

/* ........... */
.panel-header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; }
  .panel-header .header-menu {
    flex: 1 1 auto; }
    .panel-header .header-menu ul {
      display: flex;
      justify-content: space-around; }
      .panel-header .header-menu ul li {
        padding: 0 30px;
        position: relative; }
        .panel-header .header-menu ul li a {
          font-family: "ALS_schlange_sans_bld";
          font-size: 18px;
          font-weight: 800;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none; }
          .panel-header .header-menu ul li a:after {
            content: '|';
            left: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #383838; }
        .panel-header .header-menu ul li a.not_affter:after {
          content: ''; }
  .panel-header .header-contact {
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    .panel-header .header-contact a {
      padding: 10px;
      margin-right: 10px;
      border-radius: 50px;
      font-family: "icomoon";
      font-size: 18px;
      font-weight: normal;
      color: #fff; }
    .panel-header .header-contact .search-block a {
      background-color: #3d3d3d; }
    .panel-header .header-contact .shopcart-block a {
      background-color: #e41484; }
    .panel-header .header-contact .callback-block a {
      background-color: #166db0; }
    .panel-header .header-contact .phone-block a {
      font-family: "ALS_schlange_sans_blk";
      font-size: 18px;
      font-weight: 400;
      color: #fff; }

/* ........... */
.top-panel {
  background-color: #000000;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-panel .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .top-panel .menu ul li {
      padding: 0 30px;
      position: relative; }
      .top-panel .menu ul li a {
        font-family: "ALS_schlange_sans_bld";
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none; }
        .top-panel .menu ul li a:after {
          content: '|';
          left: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #383838; }
      .top-panel .menu ul li a.not_affter:after {
        content: ''; }
  .top-panel .phone {
    display: flex;
    align-items: center; }
    .top-panel .phone .link a {
      position: relative;
      padding: 10px 11px;
      border: none;
      border-radius: 50px; }
      .top-panel .phone .link a span {
        font-family: "Gilroy-Light_0";
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        position: relative;
        top: 3px;
        left: 0; }
    .top-panel .phone .link a.backet {
      background-color: #e41484;
      margin-right: 5px; }
    .top-panel .phone .link a.call {
      background-color: #166db0; }
    .top-panel .phone .phone-block {
      display: flex;
      flex-direction: column;
      padding-left: 10px; }
      .top-panel .phone .phone-block a {
        font-family: "ALS_schlange_sans_bld";
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
        .top-panel .phone .phone-block a:hover {
          border-bottom: 1px solid transparent;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
      .top-panel .phone .phone-block a.number {
        font-family: "ALS_schlange_sans_blk";
        font-size: 21px;
        font-weight: 800;
        color: #fff;
        border-bottom: none; }

/* Коллекция */
.collection {
  padding: 40px 0; }
  .collection .collection-block {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .collection .collection-block .item {
      position: relative;
      overflow: hidden; }
      .collection .collection-block .item img {
        box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.13); }
      .collection .collection-block .item .item-link {
        position: absolute;
        top: 15px;
        left: 50px; }
        .collection .collection-block .item .item-link p {
          padding: 40px 0;
          position: relative;
          font-family: "ALS_schlange_sans_bld";
          font-size: 19px;
          font-weight: 800;
          color: #fff;
          border-top: 3px solid #fff; }
        .collection .collection-block .item .item-link p.black-link {
          color: #000000;
          border-top: 3px solid #166db0; }

/* Подписка */
.mail {
  background-color: #eeeeee; }
  .mail .mail-block {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mail .mail-block .mail-heading h2 {
      font-family: "beer_money";
      font-size: 66px;
      font-weight: 500;
      color: #000000; }
    .mail .mail-block .form form {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 50px; }
      .mail .mail-block .form form .input {
        display: flex;
        position: relative; }
        .mail .mail-block .form form .input span {
          position: absolute;
          top: 12px;
          left: 22px;
          font-size: 28px; }
          .mail .mail-block .form form .input span:before {
            color: #166db0; }
        .mail .mail-block .form form .input input[type="text"] {
          width: 340px;
          padding: 15px 30px 15px 65px;
          display: inline-block;
          margin-right: 20px;
          border: none;
          border-radius: 15px;
          outline: none; }
          .mail .mail-block .form form .input input[type="text"]::-webkit-input-placeholder {
            font-family: "ALS_schlange_sans_bld";
            font-size: 18px;
            font-weight: 800;
            color: #000000; }
      .mail .mail-block .form form .checkbox {
        margin: 40px 0;
        display: flex;
        align-items: flex-start; }
        .mail .mail-block .form form .checkbox input[type="checkbox"] {
          display: none; }
          .mail .mail-block .form form .checkbox input[type="checkbox"]:checked + label:after {
            content: "\2713";
            text-align: center;
            font-family: "Gilroy-Light_0";
            font-size: 16px;
            font-weight: 300;
            color: #166db0;
            line-height: 30px; }
        .mail .mail-block .form form .checkbox label {
          font-family: "Gilroy-Light_0";
          font-size: 16px;
          font-weight: 300;
          color: #000000;
          padding-left: 50px;
          line-height: 2; }
          .mail .mail-block .form form .checkbox label:after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background-color: #fff;
            position: absolute;
            border-radius: 5px;
            top: 22%;
            transform: translateY(-50%);
            left: 0; }

/* Футер */
.footer {
  padding: 25px 30px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .logo {
    display: flex;
    flex-direction: column; }
    .footer .logo .copyright {
      display: flex; }
      .footer .logo .copyright p {
        font-family: "Gilroy-Light_0";
        font-size: 16px;
        font-weight: 300;
        color: #383838; }
      .footer .logo .copyright a {
        font-family: "Gilroy-Light_0";
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        border-bottom: 1px solid #fff; }
    .footer .logo .social {
      padding-top: 20px; }
      .footer .logo .social a {
        position: relative;
        padding: 12px 11px;
        border: 1px solid #383838;
        border-radius: 50px;
        margin-right: 10px; }
        .footer .logo .social a span {
          font-family: "Gilroy-Light_0";
          font-size: 18px;
          font-weight: 300;
          color: #fff;
          position: relative;
          top: 3px;
          left: 0; }
  .footer .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .footer-nav .nav-block ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between; }
      .footer .footer-nav .nav-block ul li {
        padding: 0 30px;
        position: relative; }
        .footer .footer-nav .nav-block ul li a {
          font-family: "ALS_schlange_sans_bld";
          font-size: 18px;
          font-weight: 800;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none; }
          .footer .footer-nav .nav-block ul li a:after {
            content: '|';
            left: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #383838; }
        .footer .footer-nav .nav-block ul li a.not_affter:after {
          content: ''; }
    .footer .footer-nav .contract {
      padding-top: 25px; }
      .footer .footer-nav .contract label {
        font-family: "Gilroy-Light_0";
        font-size: 16px;
        font-weight: 300;
        color: #383838;
        text-align: center;
        line-height: 2; }
        .footer .footer-nav .contract label a {
          font-family: "Gilroy-Light_0";
          font-size: 16px;
          font-weight: 300;
          color: #fff;
          border-bottom: 1px solid #fff; }
  .footer .connect .call a.number {
    font-family: "ALS_schlange_sans_blk";
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    border-bottom: none; }
  .footer .connect .call a.span {
    position: relative;
    padding: 13px 13px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #e41484; }
    .footer .connect .call a.span span {
      font-family: "Gilroy-Light_0";
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      position: relative;
      top: 3px;
      left: 0; }
  .footer .connect .mail {
    background-color: transparent;
    margin-top: 25px; }
    .footer .connect .mail a.msg {
      font-family: "ALS_schlange_sans_bld";
      font-size: 17px;
      font-weight: 800;
      color: #fff;
      border-bottom: 1px solid #fff; }
    .footer .connect .mail a.span {
      position: relative;
      padding: 13px 13px;
      border: none;
      border-radius: 50px;
      margin-right: 10px;
      background-color: #166db0; }
      .footer .connect .mail a.span span {
        font-family: "Gilroy-Light_0";
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        position: relative;
        top: 3px;
        left: 0; }

/* CSS Document */
@media (max-width: 1156px) {
  .content-site {
    width: 100%;
    margin: 0 auto; } }
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }
.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }
.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }
.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }
.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }
.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }
.wobble {
  animation-name: wobble; }

@keyframes jello {
  from, 11.1%, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }
.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }
.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }
.hinge {
  animation-name: hinge; }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }
.jackInTheBox {
  animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }
.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }
.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }
.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }
.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }
.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }
.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }
.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  animation-name: slideOutUp; }

/*# sourceMappingURL=index.css.map */
